:root {
    --background-color: #000; /* temporary color, will make nice in future */
    /* will fill misc colors in future */
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color)
}

#navbar {
    /* lock navbar to top*/
    position: fixed;
    top: 0;

    width: 100vw;
    height: 70px;

    display: flex;
}

#nav-float-right {
    right: 0px; /* set container position 0px from the right */
    position: absolute; /* allow position to be set exactly */

    display: flex;
    flex-direction: row;
}

.nav-item {
    height: 70px;
    width: 70px;
    
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#header-section {
    overflow: hidden;
    height: 90vh;
    width: 100vw;
}

#header-bg-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header-bg-image {
    height: 100%;
    width: 100%;

    flex: 1;
    object-fit: cover;
}