body {
    background-color: var(--background-color);
    box-sizing: border-box;
}

#header-section {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#scroll-indicator {
    position: absolute;
    z-index: 32; /* d */

    bottom: 0;
    padding-bottom: 40px;

    width: 30px;
    height: auto;
}

#header-text {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 80%;
    height: 100%;

    z-index: 69;

    color: var(--text-content-color);
}

#header-text h1 {
    position: inherit;
    font-weight: 900;
    font-size: 58px;

    left: 0;
}

#header-text h2 {
    position: inherit;
    font-size: 26px;
    font-weight: 600;

    right: 0;
    width: 500px;
}

#header-bg-img-container {
    width: 100vw;
    height: 100%;

    filter: brightness(0.5);

    color: var(--text-content-color);

    display: flex;
    flex-direction: row;
}

#header-bg-img-container div {
    flex: 1;
    height: 100%;
    width: 100%;
}

.header-bg-image {
    filter: brightness(0.9);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#birds-section {
    display: flex;
    justify-content: center;
}

#birds-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;

    padding-top: 25px;
    padding-bottom: 25px;
    width: calc(100% - 50px);
    height: 90vw;
}

.bird-grid-item {
    display: flex;
    justify-content: center;
    
    background-color: #92CEA6; /* placeholder color, will be filled with image */
    border-radius: 15px;

    width: 100%;
    height: 100%;

    background-size: cover;
}

.bird-grid-bottom-bar {
    width: calc(100% - 50px);
    align-self: flex-end;
    padding-bottom: 25px;
}


/* custom scrollbar */  
::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: #ffffff00; /* 0 alpha, invisible */
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}