@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-color: #19181B; 
    --text-content-color: #fff;
}

* { 
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background-color);
}

#navbar {
    /* lock navbar to top*/
    position: fixed;
    top: 0;

    z-index: 69420;

    width: 100vw;
    height: 70px;

    display: flex;
}

#nav-float-right {
    right: 0px; /* set container position 0px from the right */
    position: absolute; /* allow position to be set exactly */

    display: flex;
    flex-direction: row;
}

.nav-item {
    height: 70px;
    width: 70px;
    
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

#header-section {
    overflow: hidden;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#header-text {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 80%;
    height: 100%;

    z-index: 69;

    color: var(--text-content-color);
}

#header-text h1 {
    position: inherit;
    font-weight: 900;
    font-size: 58px;

    left: 0;
}

#header-text h2 {
    position: inherit;
    font-size: 26px;
    font-weight: 600;

    right: 0;
    width: 500px;
}

#header-bg-img-container {
    width: 100vw;
    height: 100%;

    color: var(--text-content-color);

    display: flex;
    flex-direction: row;
}

#header-bg-img-container div {
    flex: 1;
    height: 100%;
    width: 100%;
}

.header-bg-image {
    filter: brightness(0.9);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#birds-section {
    display: flex;
    justify-content: center;
}

#birds-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;

    padding-top: 25px;
    padding-bottom: 25px;
    width: calc(100% - 50px);
    height: 90vw;
}

.bird-grid-item {
    display: flex;
    justify-content: center;
    
    background-color: #92CEA6; /* placeholder color, will be filled with image */
    border-radius: 15px;

    width: 100%;
    height: 100%;

    background-size: cover;
}

.bird-grid-bottom-bar {
    width: calc(100% - 50px);
    align-self: flex-end;
    padding-bottom: 25px;
}